compiled.php
config.php
down
events.scanned.php
maintenance.php
routes.php
routes.scanned.php
schedule-*
services.json
*.cache

cache/
    *
    !.gitignore
sessions/
    *
    !.gitignore
testing/
    *
    !.gitignore
views/
    *
    !.gitignore
